RewriteEngine On

# Si el archivo o carpeta existe físicamente, se sirve tal cual
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Todo lo demás se reescribe al controlador frontal
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
